ul{
	list-style-type: none;
	padding: 0px;
	margin: 10px;
	width: 30%;
}
li a{
	background-color: #03c188;
	color: red;
	display: block;
	padding: 16px;
	text-decoration: none;

}

li a:hover{
	background-color: blueviolet;
}

li .activo{
	background-color: #008c62;

}